<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../../static/css/semantic.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/mycss/mycss.css"/>
		<title>小博首页</title>
	</head>
	<body>
		<nav class="my-shadow">
			<div class="ui inverted segment attached">
				<div class="ui container ">
					<div class="ui menu inverted stackable">
						<div class="ui item">
							<div class="ui header teal">
								开始吧
							</div>
						</div>
							<a class="ui item my-media-hide  my-menu-item">
								<div class="ui icon text">
									<div class="ui text">
										<i class="home icon"></i>首页
									</div>
								</div>
							</a>
							<a class="ui item   my-menu-item  my-media-hide">
								<div class="ui icon text">
										<i class="idea icon"></i>分类
								</div>
							</a>
							<a class="ui item my-media-hide  my-menu-item" href="../">
								<div class="ui icon text">
									<i class="tags icon"></i>标签
								</div>
							</a>
							<a class="ui item my-media-hide  my-menu-item" href="../">
								<div class="ui icon text">
									<i class="paste icon"></i>归档
								</div>
							</a>
							<a class="ui item my-media-hide  my-menu-item" href="">
								<div class="ui icon text">
									<i class="user secret icon"></i>关于我
								</div>
							</a>
							<a class="right item my-media-hide my-menu-item" href="">
								<div class="ui input icon">
									<input type="text" placeholder="搜索">
									<i class="search icon"></i>
								</div>
							</a>
						
					</div>
				</div>
			</div>
			<div class="ui black icon button my-sidebar">
				<i class="sidebar icon"></i>
			</div>
		</nav>
		<div id="" class="ui container">
			<div id="" class="ui  segment" style="margin-top: 30px;">
				<div id="" class="ui two column grid">
					<div class="column">
						<div class="ui header teal">
							归档
						</div>
					</div>
					<div class="column right aligned">
						共
						<div class="ui orange header" style="display: inline-block;">
							14
						</div>
						个
					</div>
				</div>
			</div>
			<div class="ui header center aligned horizontal divider">
				2017
			</div>
			<div class="ui menu vertical fluid">
				<a href="" class="item">
					<span class="middle aligned">
						<i class="circle icon teal"></i>
						关于刻苦学习的清单
						<div class="ui label left pointing teal basic">
							9月13
						</div>
					</span>
				</a>
				<a href="" class="item">
					<span class="middle aligned">
						<i class="circle icon teal"></i>
						关于刻苦学习的清单
						<div class="ui label left pointing teal basic">
							9月13
						</div>
					</span>
				</a>
				<a href="" class="item">
					<span class="middle aligned">
						<i class="circle icon teal"></i>
						关于刻苦学习的清单
						<div class="ui label left pointing teal basic">
							9月13
						</div>
					</span>
				</a>
				<a href="" class="item">
					<span class="middle aligned">
						<i class="circle icon teal"></i>
						关于刻苦学习的清单
						<div class="ui label left pointing teal basic">
							9月13
						</div>
					</span>
				</a>
			</div>
			<div class="ui header horizontal divider">
				2018
			</div>
			<div class="ui menu vertical fluid">
				<a href="" class="item">
					<span>
						<i class="circle icon teal"></i>
						关于坚持
						<div class="ui label left pointing teal basic">
							8月19
						</div>
					</span>
				</a>
				<a href="" class="item">
					<span>
						<i class="circle icon teal"></i>
						关于坚持
						<div class="ui label left pointing teal basic">
							8月19
						</div>
					</span>
				</a>
				<a href="" class="item">
					<span>
						<i class="circle icon teal"></i>
						关于坚持
						<div class="ui label left pointing teal basic">
							8月19
						</div>
					</span>
				</a>
				<a href="" class="item">
					<span>
						<i class="circle icon teal"></i>
						关于坚持
						<div class="ui label left pointing teal basic">
							8月19
						</div>
					</span>
				</a>
			</div>
		</div>
			<footer>
			<div class="ui segment attached inverted">
				<div class="ui center aligned  container ">
					<div class="ui inverted divided grid  my-padding-tb stackable ">
						<div class="three wide column">
							<a href="">
								<img  src="../../static/images/weixin.jpg" style="width: 100px; height: 100px;margin: auto;" class="ui rounded image">
							</a>
							
						</div>
						<div class="three wide column">
							<div class="ui header inverted">
								最新发布
							</div>
							<div class="ui link list inverted divided aligned center">
								<a href="" class="item">用户故事</a>
								<a href="" class="item">关于刻苦练习的清单</a>
								<a href="" class="item">失败要趁早</a>
							</div>
						</div>
						<div class="three wide column">
							<div class="ui header inverted">
								联系我
							</div>
							<div class="ui link list inverted divided">
								<a href="" class="item">EmaIl:fhdshjf.com</a>
								<a href="" class="item">qq:7878797979</a>
							</div>
						</div>
						<div class="seven wide column">
							<div class="ui header inverted">zhang</div>
							<div class="ui link list inverted">
								<a href="" class="item">
									一个总是轻易放弃的人
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="ui section divider inverted center aligned" style="text-align: center;line-height: 40px;">
					fsdafdsafj
				</div>
				
			</div>
			
		</footer>
	</body>
	<script src="../../static/js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../static/js/semantic.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../static/js/prism.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$('.my-sidebar').click(function(){
			$('.my-menu-item').toggleClass("my-media-hide");
		})
	</script>
</html>
