<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../../static/css/semantic.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/mycss/mycss.css"/>
		<title>小博首页</title>
	</head>
	<body>
		<nav>
			<div class="ui inverted segment attached">
				<div class="ui container ">
					<div class="ui menu inverted stackable">
						<div class="ui item">
							<div class="ui header teal">
								开始吧
							</div>
						</div>
							<a class="ui item my-media-hide  my-menu-item">
								<div class="ui icon text">
									<div class="ui text">
										<i class="home icon"></i>首页
									</div>
								</div>
							</a>
							<a class="ui item   my-menu-item  my-media-hide">
								<div class="ui icon text">
										<i class="idea icon"></i>分类
								</div>
							</a>
							<a class="ui item my-media-hide  my-menu-item" href="../">
								<div class="ui icon text">
									<i class="tags icon"></i>标签
								</div>
							</a>
							<a class="ui item my-media-hide  my-menu-item" href="../">
								<div class="ui icon text">
									<i class="paste icon"></i>归档
								</div>
							</a>
							<a class="ui item my-media-hide  my-menu-item" href="">
								<div class="ui icon text">
									<i class="user secret icon"></i>关于我
								</div>
							</a>
							<a class="right item my-media-hide my-menu-item" href="">
								<div class="ui input icon">
									<input type="text" placeholder="搜索">
									<i class="search icon"></i>
								</div>
							</a>
						
					</div>
				</div>
			</div>
			<div class="ui black icon button my-sidebar">
				<i class="sidebar icon"></i>
			</div>
		</nav>
		<div id="" class="ui container">
			<div id="" class="ui top attached  segment" style="margin-top: 30px;">
				<div id="" class="ui two column grid">
					<div class="column">
						<div class="ui header teal">
							标签
						</div>
					</div>
					<div class="column right aligned">
						共
						<div class="ui orange header" style="display: inline-block;">
							14
						</div>
						个
					</div>
				</div>
			</div>
			<div class="ui attached segment teal">
				<div class="ui label left pointing basic teal">
					fdskhhj
				</div>
				<div class="ui label left pointing basic teal">
					fdskhhj
				</div>
				<div class="ui label left pointing basic teal">
					fdskhhj
				</div>
				<div class="ui label left pointing basic teal">
					fdskhhj
				</div>
				<div class="ui label left pointing basic teal">
					fdskhhj
				</div>
				<div class="ui label left pointing basic teal">
					fdskhhj
				</div>
			</div>
			<div class="ui segment teal">
				<div class="ui attached segment">
					<div class="ui grid stackable mobile reversed">
						<div class="eleven wide column">
							<h3 class="ui header">坚持下来</h3>
							<p class="ui test">fksdhfhasdhfhdsafhhadshfahdfh</p>
						</div>
						<div class="five wide column">
							<a href="#">
								<img src="https://unsplash.it/800/450?image=1005"  class="ui rounded image" style="display: inline-block;">
							</a>
						</div>
					</div>
					<div class="ui grid stackable">
						<div class="row">
							<div class="eleven wide column">
								<img class="ui middle aligned  image" src="https://unsplash.it/30/30?image=1005" style="border-radius: 50%;">
								<span>zhang</span>
								<i class="calendar icon"></i>2020/02/19
								<i class="eye icon"></i>90
							</div>
							<div class="five wide column">
								<button type="button" class="ui button teal basic">认知升级</button>
							</div>
						</div>
						<div class="row">
							<div class="column">
								<div class="ui label teal left pointing basic">
									方法论
								</div>
							</div>
						</div>
					</div>
			</div>
			<div class="ui segment teal">
				<div class="ui two column grid">
					<div class="column">
						<button type="button" class="ui button teal basic">上一页</button>
					</div>
					<div class="column right aligned">
						<button type="button" class="ui button teal basic">下一页</button>
					</div>
				</div>
			</div>
		</div>
		</div>
		<footer>
			<div class="ui segment attached inverted">
				<div class="ui center aligned  container ">
					<div class="ui inverted divided grid  my-padding-tb stackable ">
						<div class="three wide column">
							<a href="">
								<img  src="../../static/images/weixin.jpg" style="width: 100px; height: 100px;margin: auto;" class="ui rounded image">
							</a>
							
						</div>
						<div class="three wide column">
							<div class="ui header inverted">
								最新发布
							</div>
							<div class="ui link list inverted divided aligned center">
								<a href="" class="item">用户故事</a>
								<a href="" class="item">关于刻苦练习的清单</a>
								<a href="" class="item">失败要趁早</a>
							</div>
						</div>
						<div class="three wide column">
							<div class="ui header inverted">
								联系我
							</div>
							<div class="ui link list inverted divided">
								<a href="" class="item">EmaIl:fhdshjf.com</a>
								<a href="" class="item">qq:7878797979</a>
							</div>
						</div>
						<div class="seven wide column">
							<div class="ui header inverted">zhang</div>
							<div class="ui link list inverted">
								<a href="" class="item">
									一个总是轻易放弃的人
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="ui section divider inverted center aligned" style="text-align: center;line-height: 40px;">
					fsdafdsafj
				</div>
				
			</div>
			
		</footer>
	</body>
	<script src="../../static/js/jquery-1.12.3.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../static/js/semantic.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../static/js/prism.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$('.my-sidebar').click(function(){
			$('.my-menu-item').toggleClass("my-media-hide");
		})
	</script>
</html>
